body{
    background: mistyrose;
}
#square{
    display: inline-block;
    width: 80px;
    height: 80px;
    background: cadetblue;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 10px;
}

